---
import BlogPost from '../components/BlogPost.astro';
import RootLayout from '../layouts/RootLayout.astro';
import "./index.scss"
import img from "../assets/rian-headshot.webp"
import AExternalIcon from '../components/AExternalIcon.astro';
import { getCollection } from 'astro:content';

const allPosts = await getCollection('posts');
---

<RootLayout title="Home">
	<main class="index">
		<div class="left-bar">
			<div class="circle-scatter" aria-hidden="true"/>
			<div class="intro">
				<p class="sr-only">An introduction about me.</p>
				<img class="headshot desktop-only" src={img} alt="A picture of Rían"/>
				<p>
					I'm a 21-year-old software developer from Ireland. I'm interested in a lot
					of different things from linguistics, to pedagogy, to productivity
					systems.
				</p>
	
				<p> 
					I'm currently in the process of finishing my degree in Computer Science
					Linguistics and French from Trinity College, Dublin.
				</p>
	
				<p>
					I'm working with my colleague and Co-Founder <AExternalIcon link="https://oskarmroz.com" text="Oskar Mróz"/> to build
					interesting software products under the <AExternalIcon link="https://clove.ie" text="Clove"/> brand.
				</p>
	
				<p> 
					Check out my <AExternalIcon link="/cv.pdf" text="C.V"/> or connect with me on <AExternalIcon link="https://www.linkedin.com/in/r%C3%ADan-errity/" text="LinkedIn"/>, I'm always happy to
					meet new people. 
				</p>
			</div>
		</div>
		
		<div class="blog">
			<h1 class="blog-title">Posts</h1>
			<div class="blog-posts">
				<div class="aside warn">
					⚠️ A few articles are currently missing as they are being updated and moved to the new format, I hope you like the new design !
				</div>
				{
					// Get all posts in the /posts directory and map them
					// to blog post components.
					allPosts.map((post) => (
							<BlogPost 
								url={`/posts/${post.slug}`} 
								title={post.data.title} 
								summary={post.data.summary}
								type={post.data.type}
								firstPublished={post.data.firstPublished}
							/>			
						)			
					).reverse()
				}
			</div>
		</div>
</main>

</RootLayout>