---
import {format} from 'date-fns'; 
let { title, url, summary, type, date, firstPublished } = Astro.props;
import "./BlogPost.scss"

console.log(typeof(firstPublished))
const formattedTime = format(new Date(firstPublished), 'MMMM eo, yyyy');
---

<div class="blog-post">
    <h1>
        <span class="type-pill">{type}</span> <a href={url}>{title}</a>
    </h1>

    <p class="summary">
        {summary}
    </p>
    <span class="time"><strong>Published</strong>: {formattedTime}</span> 
    <a class="button" href={url}>Read more...</a> 
</div>