---
import RootLayout from "./RootLayout.astro";
import Footer from "../components/Footer.astro";
import "./BlogPostLayout.scss"

const { frontmatter } = Astro.props;
let author = frontmatter.author ?? "Rían Errity"
---
<RootLayout 
	author={frontmatter.author}
	description={frontmatter.summary30}
	type={"article"}
	title={frontmatter.title}
>
	<main class="blog-post-layout">
		<div class="blog-post-page">
			<div class="header">
				<h1>
					{frontmatter.title}
				</h1>
		
				<span>
					By <span>{author}</span> <span></span>
				</span>
			</div>
		
			<main>
				<slot />
			</main>
		</div>
	</main>
	<Footer/>
</RootLayout>