---
import RootLayout from "./RootLayout.astro";
import "./BlogPostLayout.scss"
import { format } from "date-fns";

const { frontmatter } = Astro.props;
let author = frontmatter.author ?? "Rían Errity"

const firstPublished = format(new Date(frontmatter.firstPublished), 'MMMM eo, yyyy');
const lastEdited = format(new Date(frontmatter.lastEdited), 'MMMM eo, yyyy');
---
<RootLayout 
	author={frontmatter.author}
	description={frontmatter.summary30}
	type={"article"}
	title={frontmatter.title}
>
	<main class="blog-post-layout">
		<div class="blog-post-page">
			<div class="header">
				<h1>
					{frontmatter.title}
				</h1>
                <div class="blog-suffix-keys">
                    <span class="bold">First published</span>: {firstPublished}
                </div>
			</div>
		
			<main>
				<slot />
			</main>

            <div class="blog-suffix-keys">
                <span class="bold">Last edited</span>: {lastEdited}
            </div>
		</div>
	</main>
</RootLayout>