---
import Header from "../components/Header.jsx";
import AnalyticsComponent from "../analytics/AnalyticsComponent.jsx"
import "../styles/fonts.scss";
import "../styles/reset.scss";
import "../styles/utilities.scss";
import '../styles/global.scss';
import Footer from "../components/Footer.astro";

let { title, author, description, type, url, image } = Astro.props;

author = author ?? "Rían Errity"
title = title ?? `${author} | Paradaux`
description = title ?? "Personal website and blog of Rían Errity, a software developer from Ireland."
type = type ?? "website"
url = url ?? Astro.url
image = image ?? "https://paradaux.io/rian-headshot.png"
---
<html lang="en">
  <head>    
    <meta charset="UTF-8">
    <meta name="description" content={description}>
    <meta name="keywords" content="software developer, Ireland, linguistics, pedagogy, productivity systems, degree, Computer Science, French, Trinity College, Dublin, colleague, Co-Founder, Clove, software products, C.V, LinkedIn, networking.">
    <meta name="author" content="Rían Errity">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta property="og:title" content={title}/>
    <meta property="og:description" content={description}/>
    <meta property="og:type" content={type}/>
    <meta property="og:url" content={url}/>
    <meta property="og:image" content={image}/>

    <link rel="sitemap" type="application/xml" href="/sitemap-index.xml">
    <link rel="alternate" type="application/rss+xml" title="Rían's Blog" href="/rss.xml">
    <title>Paradaux | {title}</title>
  </head>
  <body>
    <Header client:load/>
    <AnalyticsComponent client:only page={Astro.url}/>
    <slot/>
    <Footer />
  </body>
</html>